<!DOCTYPE html>
<html lang="en" dir="ltr">
    
    <head>
      
        <meta charset="utf-8">
      
        {% load static %}
        <link rel="shortcut icon" type="image/svg+xml" href="{% static 'images/logo.svg' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
          
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Home-Xarsed</title>
        <style>
            body {
                background: radial-gradient(hsl(174, 72.07%, 56.47%)/*Turquoise*/, hsl(221.68, 85.59%, 21.76%)/*Sapphire*/);  
            }
        </style>
      
    </head>
      
    <body itemscope itemtype="https://schema.org/WebApplication">
        
        <meta itemprop="applicationCategory" content="HomeApplication" />
        <meta itemprop="url" content="https://xarsed.pythonanywhere.com/home/" />
        
        <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
            <meta itemprop="price" content="0" />
        </div>
        
        <div class="glass">

            <div class="boxes">
                
                <div id="inside">

                    <svg viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">

                        <defs>
                            <radialGradient id="sun" cx="50%" cy="50%">
                                <stop offset="0%" stop-color="#FFD700" />
                                <stop offset="60%" stop-color="#FFFF00" />
                                <stop offset="100%" stop-color="transparent" />
                            </radialGradient>
                        </defs>
                        <circle cx="500" cy="500" r="500" fill="url(#sun)" stroke="none" />
                      
                        <defs>
                            <radialGradient id="water" cx="30%" cy="80%">
                                <stop offset="0%" stop-color="#B0E0E6" />
                                <stop offset="100%" stop-color="#00FFFF" />
                            </radialGradient>
                        </defs>
                        <path d="M 500 600 L 600 700 S 690 810, 620 890 Q 500 1030, 380 890 M 500 600 L 400 700 S 310 810, 380 890" fill="url(#water)" stroke="none" />
                      
                        <defs>
                            <linearGradient id="earth" x1="0%" y1="25%" x2="0%" y2="75%">
                                <stop offset="0%" stop-color="#228B22" />
                                <stop offset="50%" stop-color="#9ACD32" />
                                <stop offset="100%" stop-color="#228B22" />
                            </linearGradient>
                        </defs>
                        <path d="M 400 500 L 300 400 Q 200 315, 100 400 L 0 500 M 400 500 L 300 600 Q 200 685, 100 600 L 0 500" fill="url(#earth)" stroke="none" />
                
                        <defs>
                            <radialGradient id="fire" cx="50%" cy="80%">
                                <stop offset="0%" stop-color="#FF8C00" />
                                <stop offset="100%" stop-color="#B22222" />
                            </radialGradient>
                        </defs>
                        <path d="M 500 400 L 400 300 C 295 150, 560 100, 480 0 L 520 80 M 500 400 L 600 300 C 700 150, 600 100, 480 0 L 520 80" fill="url(#fire)" stroke="none" />
                
                        <defs>
                            <radialGradient id="air" cx="20%" cy="50%" >
                                <stop offset="0%" stop-color="#F0F8FF" />
                                <stop offset="100%" stop-color="#C0C0C0" />
                            </radialGradient>
                        </defs>
                        <path d="M 600 500 L 700 400 C 755 330, 1020 280, 900 400 M 600 500 L 700 600 C 725 640, 1030 750, 920 540 M 600 500 L 900 400 Q 1000 505, 920 540" fill="url(#air)" stroke="none" />
          
                    </svg>

                </div>
                <div>
                    <h1 itemprop="name">
                        Xarsed
                    </h1>
                    <h2>
                        The Glow of Hope from the Heart of Nature
                    </h2>
                </div>
            
            </div>

        </div>
        
        <div class="glass">

            <h2>
                About Xarsed
            </h2>
            <p itemprop="description">
                <b>Xarsed</b> is a companion that helps you meet your needs in harmony with nature. In this path, it has moved towards one of today's needs, namely energy. 
                In the first step, <b>Xarsed</b> has created an algorithm based on scientific data that helps you design a solar power plant based on your need pattern. 
                This power plant is based on the most common electricity supply systems, photovoltaic panels and batteries.
            </p>
            <p>
                <b>Xarsed</b> is open source and free. You can see the details of the algorithm in the 
                <a href="https://github.com/xarsed/xarsed-pp-v0.0.0" id="link" target="_blank">
                    Xarsed Python package GitHub repository
                </a>
                and the overall structure of its web app in the
                <a href="https://github.com/xarsed/xarsed-wa-v0.0.0" id="link" target="_blank">
                    Xarsed web application GitHub repository
                </a> 
                . You can raise any issue you have in its GitHub.
            </p>

        </div>

        <div class="glass">

            <h2>
                How to interact with Xarsed
            </h2>
            <p>
                <b>Xarsed</b> is designed in such a way that the user can easily interact with it. <b>Xarsed</b> always offers an alternative solution at each step so that, 
                in the absence of the necessary data, you can continue the path. Each step in the <b>Xarsed</b> path has a practical guide that you can reviewing it. 
                <b>Xarsed</b> suggests that, if this is your first time with it, use the alternative options to go through the path completely once. In this way, 
                you will get a complete view of <b>Xarsed</b>'s performance.
            </p>
            <p>
                To get started, just press the button below to start the process. The only important point is that, when you start the path, 
                a session is created for you in which your data is stored at each step. The expiration of this session comes 60 minutes after the start of the session, 
                which is extended by each time you press new buttons on the path. Therefore, keep in mind that the interval between pressing the two buttons should be less than an hour, 
                because after the session expires, your data will be deleted and you will have to start the journey over.
            </p>
            <p>
                <b>Let's get started!</b>
            </p>
            <form action="{% url 'process:get_location' %}" class="form" method="get">  
                <button type="submit" class="button" id="start">Start</button>
            </form>

        </div>

        <div class="glass">

            <p>
                If you want to know more about <b>Xarsed</b>, visit the <b>Xarsed</b> documentaion section:
            </p>
            <form action="{% url 'documentation:documentation' %}" class="form" method="get">  
                <button type="submit" class="button" id="documentation">Documentation</button>
            </form>

        </div>

    </body>

</html>